%h1 Listing registered numbers

%table.table.table-bordered
  %thead
    %tr
      %th Number
      %th
      %th
      %th

  %tbody
    - @registered_numbers.each do |registered_number|
      %tr
        %td= registered_number.number
        %td= link_to 'Show', registered_number
        %td= link_to 'Edit', edit_registered_number_path(registered_number)
        %td= link_to 'Destroy', registered_number, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Registered number', new_registered_number_path
