%h1 Listing experts

%table.table.table-bordered
  %thead
    %tr
      %th Name
      %th Contact no
      %th
      %th
      %th

  %tbody
    - @experts.each do |expert|
      %tr
        %td= expert.name
        %td= expert.contact_no
        %td= link_to 'Show', expert
        %td= link_to 'Edit', edit_expert_path(expert)
        %td= link_to 'Destroy', expert, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Expert', new_expert_path
